<div class="small-12 medium-8 columns text-center medium-order-1" style="padding: 0;">
    <article class="hot-news">
        <figure>
            <img src="{{root}}assets/img/hot-news.jpg" alt="" />
        </figure>
        <h1>Hot news 1</h1>
    </article>
</div>

<div class="small-12 medium-8 columns text-center medium-order-2" style="padding: 0;">
    <article class="hot-news">
        <figure>
            <img src="{{root}}assets/img/hot-news.jpg" alt="" />
        </figure>
        <h1>Hot news 2</h1>
    </article>
</div>

<div class="small-12 medium-8 columns text-center medium-order-3" style="padding: 0;">
    <article class="hot-news">
        <figure>
            <img src="{{root}}assets/img/hot-news.jpg" alt="" />
        </figure>
        <h1>Hot news 3</h1>
    </article>
</div>
