<div class="row">
    <div class="small-12 medium-3 columns text-center">
        <article class="small-news">
            <figure>
                <img src="{{root}}assets/img/small-news.jpg" alt="" />
            </figure>
            <h1>Popularne 1</h1>
        </article>
    </div>
    <div class="small-12 medium-3 columns text-center">
        <article class="small-news">
            <figure>
                <img src="{{root}}assets/img/small-news.jpg" alt="" />
            </figure>
            <h1>Popularne 2</h1>
        </article>
    </div>
    <div class="small-12 medium-3 columns text-center">
        <article class="small-news">
            <figure>
                <img src="{{root}}assets/img/small-news.jpg" alt="" />
            </figure>
            <h1>Popularne 3</h1>
        </article>
    </div>
    <div class="small-12 medium-3 columns text-center">
        <article class="small-news">
            <figure>
                <img src="{{root}}assets/img/small-news.jpg" alt="" />
            </figure>
            <h1>Popularne 4</h1>
        </article>
    </div>
</div>