<div class="small-12 columns text-center medium-order-5" style="padding: 0;">

    <div class="row collapse" style="background: pink;">
        <div class="small-12 columns">
            <article class="special-news">
                <figure>
                    <img src="{{root}}assets/img/special-news.jpg" alt="" />
                </figure>
                <h1>Vertical photo</h1>
            </article>
        </div>
        <div class="small-12 columns">
            <article class="small-news">
                <figure>
                    <img src="{{root}}assets/img/small-news.jpg" alt="" />
                </figure>
                <blockqoute>Quotation of famous person</blockqoute>
            </article>
        </div>
    </div>

</div>